<!html DOCTYPE>

<html>

	<head>

		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/acmeerp/css/estilos.css') }}">

	</head>

	<body>

		<input type="hidden" id="view" value="login" >

		<div>

			<header>
				<h1>Login</h1>
			</header>

			<section class="login" >
				<label >usuario</label>
				<input type="text" />
				<label >clave</label>
				<input type="password" >
				<label >Empresa</label>
				<select ></select>
				<label ></label>
				<button >Ingresar</button>
			</section>

			<footer>
				Electrowerke 2015 | Derechos Reservados
			</footer>

		</div>

	</body>

</html>